body {
  margin: 0;
  background-color: #171717;
  font-family: "JetBrains Mono", "Consolas", "Monaco", "Courier New", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vertical {
  flex-direction: column;
  justify-content: flex-start;
}

@keyframes question {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes question-hover {
  0% {
    border-top: 3px dotted;
    border-image: linear-gradient(90deg, red, blue) 1;
  }
  25% {
    border-right: 3px dotted;
    border-image: linear-gradient(90deg, red, blue) 1;
  }
  50% {
    border-bottom: 3px dotted;
    border-image: linear-gradient(90deg, red, blue) 1;
  }
  75% {
    border-left: 3px dotted;
    border-image: linear-gradient(90deg, red, blue) 1;
  }
}

@keyframes typing {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes gradient {
  from {
    background: linear-gradient(#90ee90, #2bc9d9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    background: linear-gradient(#2bc9d9, #90ee90);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}

.question-mark {
  display: block;
  font-size: 200px;
  animation: question 4s infinite ease-in-out;
}

.question-mark > a {
  color: #4af626;
  text-decoration: none;
}

.question-mark > a:hover {
  all: unset;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: question-hover 0.25s infinite;
}

.computer-face,
.angry-computer-face {
  width: 90vw;
  height: 250px;
  margin-top: 20px;
}

.computer-face {
  background-color: #43be2a;
  border: 5px solid #4af626;
}

.computer-face:hover {
  animation: question-hover 0.25s infinite;
  background: linear-gradient(red, blue);
}

.angry-computer-face {
  background-color: #ff2400;
  border: 5px solid #d43b3b;
}

.eyes {
  display: flex;
  padding: 50px;
}

.eye {
  width: 40px;
  height: 40px;
  background-color: #4af626;
}

.second {
  margin-left: auto;
}

.nose {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4af626;
  margin: auto;
}

.mouth {
  width: 80%;
  margin: auto;
  height: 50px;
  border: 5px solid #4af626;
  border-radius: 0 0 100px 100px;
  border-top: none;
}

.sad.mouth {
  border-color: #610404;
  transform: rotate(180deg);
  margin-top: 10px;
}

.angry {
  background-color: #610404;
}

.text {
  color: #4af626;
  font-size: 20px;
  max-width: 900px;
  margin: 20px;
  text-align: center;
  overflow: hidden;
  animation: typing 1s steps(40, end) forwards, gradient 2s infinite;
  clip-path: inset(0 100% 0 0);
  white-space: normal;
}

.anger {
  color: red;
  text-align: center;
  max-width: 600px;
  font-size: 30px;
}

.tall {
  height: 3500vh;
  position: relative;
  animation: shake 0.1s infinite;
}

.mt-100 {
  margin-top: 100em;
}

.bottom {
  position: absolute;
  bottom: 20px;
}

button {
  background-color: #4af626;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

button:hover {
  animation: question-hover 0.25s infinite;
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.meta-info * {
  color: #4af626;
}

.egg {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.meta-info > a:hover {
  color: #277fd9;
}

@media (min-width: 410px) {
  .computer-face,
  .angry-computer-face {
    width: 400px;
  }
}

@media (min-height: 480px) and (min-width: 480px) {
  .text {
    font-size: 30px;
  }
}

@media (min-height: 660px) and (min-width: 660px) {
  .text {
    font-size: 50px;
  }
}

@media (min-height: 700px) {
  .computer-face,
  .angry-computer-face {
    margin-top: 100px;
  }
}
