:root {
  --main-color: #4af626;
  --green-border: #43be2a;
  --light-green: #90ee90;
  --light-blue: #2bc9d9;
  --light-red: #ff2400;
  --red-border: #d43b3b;
  --dark-red: #610404;
}

body {
  margin: 0;
  background-color: #171717;
  font-family: "JetBrains Mono", "Consolas", "Monaco", "Courier New", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vertical {
  flex-direction: column;
  justify-content: flex-start;
}

@keyframes question {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes question-hover {
  0% {
    border-top: 3px dotted;
    border-image: linear-gradient(90deg, red, blue) 1;
  }
  25% {
    border-right: 3px dotted;
    border-image: linear-gradient(90deg, red, blue) 1;
  }
  50% {
    border-bottom: 3px dotted;
    border-image: linear-gradient(90deg, red, blue) 1;
  }
  75% {
    border-left: 3px dotted;
    border-image: linear-gradient(90deg, red, blue) 1;
  }
}

@keyframes typing {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes gradient {
  from {
    background: linear-gradient(var(--light-green), var(--light-blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    background: linear-gradient(var(--light-blue), var(--light-green));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}

p {
  color: white;
  margin: 20px;
}

button {
  margin: 20px;
}

.question-mark {
  display: block;
  font-size: 200px;
  animation: question 4s infinite ease-in-out;
}

.question-mark > a {
  color: var(--main-color);
  text-decoration: none;
}

.question-mark > a:hover {
  all: unset;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: question-hover 0.25s infinite;
}

.computer-face,
.angry-computer-face {
  width: 90vw;
  height: 250px;
  margin-top: 15px;
}

.computer-face {
  background-color: var(--green-border);
  border: 5px solid var(--main-color);
}

.computer-face:hover {
  animation: question-hover 0.25s infinite;
  background: linear-gradient(red, blue);
}

.angry-computer-face {
  background-color: var(--light-red);
  border: 5px solid var(--border-red);
}

.eyes {
  display: flex;
  padding: 50px;
}

.eye {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
}

.second {
  margin-left: auto;
}

.nose {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
  margin: auto;
}

.mouth {
  width: 80%;
  margin: auto;
  height: 50px;
  border: 5px solid var(--main-color);
  border-radius: 0 0 100px 100px;
  border-top: none;
}

.sad.mouth {
  border-color: var(--dark-red);
  transform: rotate(180deg);
  margin-top: 10px;
}

.angry {
  background-color: var(--dark-red);
}

.text {
  border: 2px solid var(--main-color);
  padding: 10px;
  height: 150px;
  font-size: 20px;
  max-width: 600px;
  margin: 20px;
  text-align: center;
  overflow: hidden;
  animation: typing 0.5s steps(40, end) forwards, gradient 2s infinite;
  clip-path: inset(0 100% 0 0);
  white-space: normal;
}

.anger {
  color: red;
  text-align: center;
  max-width: 600px;
  font-size: 30px;
}

.tall {
  height: 3500vh;
  position: relative;
  animation: shake 0.1s infinite;
}

.mt-100 {
  margin-top: 100em;
}

.m-30 {
  margin: 3000px;
}

.bottom {
  position: absolute;
  bottom: 20px;
}

button {
  background-color: var(--main-color);
  font-size: 30px;
  border: none;
  cursor: pointer;
}

button:hover {
  animation: question-hover 0.25s infinite;
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.meta-info * {
  color: var(--main-color);
}

.egg {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.egg:hover {
  animation: shake 0.01s infinite;
}

.meta-info {
  margin-bottom: 5px;
}

.meta-info > a:hover {
  color: var(--light-blue);
}

.ttt-box {
  display: none;
}

.ttt-box {
  width: 100px;
  height: 100px;
  background-color: var(--main-color);
  border: 5px solid var(--green-border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.ttt-row {
  display: flex;
}

.transparent {
  color: rgba(29, 43, 33, 0.3)
}

.shake {
  animation: shake 0.01s infinite;
}

@media (min-width: 410px) {
  .computer-face,
  .angry-computer-face {
    width: 400px;
  }
}

@media (min-height: 550px) and (min-width: 480px) {
  .text {
    font-size: 30px;
    height: 150px;
  }
}

@media (min-height: 720px) and (min-width: 500px) {
  .computer-face,
  .angry-computer-face,
  .mad-egg {
    margin-top: 100px;
  }
}
