{% include 'heading.html' %}
  <!-- THE COMPUTER IS MAD AT YOU -->
  <body class="vertical angry">
    <div class="angry-computer-face">
      <div class="eyes">
        <div class="eye angry first"></div>
        <div class="eye angry second"></div>
      </div>
      <div class="nose angry"></div>
      <div class="sad mouth"></div>
    </div>
    <p class="anger">
      Did you try cheating on the quiz? You can only take the quiz one time each jayden
      session. I'm very disappointed in you.
    </p>
  </body>
</html>
