{% include 'heading.html' %}
  <body class="vertical">
    <div class="computer-face">
      <div class="eyes">
        <div class="eye first"></div>
        <div class="eye second"></div>
      </div>
      <div class="nose"></div>
      <div class="mouth"></div>
    </div>
    <p class="text">{{ msg }}</p>
    <nav>
      {% if not is_first %}
      <button type="button" id="previous" onclick="window.location.href = `{{ url_for('chat', msg=id-1) }}`">Previous</button>
      {% endif %} {% if is_not_last %}
      <button type="button" id="next" onclick="window.location.href = `{{ url_for('chat', msg=id+1) }}`">Next</button>
      {% endif %}
    </nav>
    {% if is_first %}
    <p>You can press 'd' to continue and press 'a' to go back.</p>
    {% endif %}
    {% if not is_not_last %}
    <address class="meta-info">
      <p>jiangjaydenjmx@gmail.com</p>
      <a href="https://github.com/jmxjiang" target="_blank" rel="noopener">GitHub</a>
      <a href="https://stackoverflow.com/users/25248452/jmx-jiang" target="_blank" rel="noopener">Stack Overflow</a>
    </address>
    <!-- Don't ask me why this egg exists. -->
    <a href="{{ url_for('egg') }}">
      <img class="egg" src="{{ url_for('static', filename='imgs/egg.png') }}" alt="egg" width="30px" />
    </a>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  </body>
</html>
