{% include 'heading.html' %}
  <body class="vertical grid">
    <!-- i have nothing to say -->
    <section class="desc">
      <h2>{{ problem['title'] }}</h2>
      <p>{{ problem['desc'] | safe }}</p>
      {% for i, j in enumerate(problem['examples']) %}
      <section class="example">
        <h3>Example {{ i + 1 }}</h3>
        {% for k, v in j.items() %}
        <p>{{ k.capitalize() }}: {{ v }}</p>
        {% endfor %}
      </section>
      {% endfor %}
    </section>
    <section class="blocks">
    </section>
    <section class="space">
    </section>
  </body>
</html>
