{% include 'heading.html' %}
  <body class="vertical">
    <!-- Stop. -->
    {% if id % 2 == 0 %}
    <div class="computer-face">
      <div class="eyes">
        <div class="eye first"></div>
        <div class="eye second"></div>
      </div>
      <div class="nose"></div>
      <div class="mouth"></div>
    </div>
    {% else %}
    <img src="{{ url_for('static', filename='imgs/egg.png') }}" alt="egg" class="mad-egg" width="200px" />
    {% endif %}
    {% if id >= 5 %}
    <div id="balls"></div>
    {% endif %}
    <p class="text">{{ msg }}</p>
    <nav>
      {% if not is_first %}
      <button type="button" id="previous" onclick="window.location.href = `{{ url_for('meeting', msg=id-1) }}`">Previous</button>
      {% endif %} {% if is_not_last %}
      <button type="button" id="next" onclick="window.location.href = `{{ url_for('meeting', msg=id+1) }}`">Next</button>
      {% endif %}
    </nav>
    {% if not is_not_last %}
    <div class="question-mark shake"><a href="{{ url_for('minigame', msg=0) }}">?</a></div>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    {% if id >= 5 %}
    <script src="{{ url_for('static', filename='js/ball.js') }}"></script>
    {% endif %}
  </body>
</html>
