{% include 'heading.html' %}
  <body class="vertical">
    <div class="computer-face">
      <div class="eyes">
        <div class="eye first"></div>
        <div class="eye second"></div>
      </div>
      <div class="nose"></div>
      <div class="mouth"></div>
    </div>
    <p class="text">{{ msg }}</p>
    {% if responses %}
    <ul id="languages">
      {% for i in responses %}
      <li><a class="language" href="{{ url_for('quiz', msg=0, language=i) }}">{{ i }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <form method="POST">
      <ul id="quiz">
        {% for i in options %}
        <li><button class="language" name="ans" value="{{ i }}" type="submit">{{ i }}</button></li>
        {% endfor %}
      </ul>
    </form>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  </body>
</html>
