{% include 'heading.html' %}
  <body class="vertical">
    <img src="{{ url_for('static', filename='imgs/egg.png') }}" alt="egg" width="100px" />

    {% if id % 2 == 0 or id >= 4 %}
    <p class="text">{{ msg }}</p>
    {% endif %}
    
    <div class="prison">
      <div class="minigame-computer"></div>
    </div>
    
    {% if id % 2 == 1 and id < 4 %}
    <p class="text">{{ msg }}</p>
    {% endif %}
    
    <nav>
      {% if not is_first %}
      <button type="button" id="previous" onclick="window.location.href = `{{ url_for('trap', msg=id-1) }}`">Previous</button>
      {% endif %} {% if is_not_last %}
      <button type="button" id="next" onclick="window.location.href = `{{ url_for('trap', msg=id+1) }}`">Next</button>
      {% else %}
      <button type="button" onclick="window.location.href = `{{ url_for('minigame', play=True) }}`">Start</button>
      {% endif %}
    </nav>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ball.js') }}"></script>
  </body>
</html>
